
body{
  /*background: lightblue; */
  border: 4px solid red;
}
.container {
  width: 75%;
  height: 800px;
  margin-left: 13%;
  border: 2px solid black;
  background-image: url('../images/poker4.jpg');
  background-repeat: no-repeat;
  display: inline-block;
  display: flex;
  flex-direction: column;
  background-size: cover;
  /*background: yellow;*/
}

.row-1{
  width: 100%;
  height: 33%;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between
  padding: 15px;
  box-sizing: border-box;

}
.row-2{
  width: 100%;
  height:  33%;
  /*background: lightblue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.row-3{
  width: 100%;
  height: 33%;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between
  padding: 15px;
  box-sizing: border-box;
}

/*P point */
.p-infor{
  width: 75%;
  height: 35px;
  text-align: left;
  font-size: 20px;

}
img{
  border-radius: 50%;
  height: 70px;
  width: 70px;

}
/*Play button */
button{
  color: #F4E9DF;
  border-radius: 5px;
  font-family: Trebuchet MS, sans-serif;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;


}
.playbtn{
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  width: 35%;
  height: 8vh;
  margin-top: 0%;
  overflow: hidden;
  outline:none;
  font-family: 'Jazz LET', fantasy;
  color:  #E0FFDD;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(142,11,11,0.68) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
}

#reset{
  width: 20%;
  height: 18%;
  font-size: 30px;
  margin-top: 1%;
}

.numGameChoice{
  color: #A9D60D;
  width: 100%;
  height: 15%;
  font-size: 13px;
  margin-top: 9%;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font font-family: 'Jazz LET', fantasy;

}
#groundNum{
  width: 25%;
  height: 10%;
  text-align: center;
  vertical-align: middle;
  color: #62C7FF;
  font-family: 'Jazz LET', fantasy;
  font-weight: bold;
  font-size: 25px;
}
#player{
  text-align: left;
  font-weight: 400;
  font-weight: bold;
}

.winner{
  width: 62%;
  margin-left: 3%;
  position: absolute;
  text-align: center;
  z-index: 3;
  display:inline-block;
  background: white;
  visibility:hidden;
  background-color: Transparent;
  font-family: 'Jazz LET', fantasy;
  font-size: 2.5em;
  /*color: #04080F;*/

  font-weight: bold;
  text-shadow: -3px 0 1px rgba(31,58,15,1) , 3px 0 1px rgba(0,1,68,1) ;
}

.shadow{
  color: #62C7FF;
  text-shadow: -3px 0 1px rgba(31,58,15,1) , 3px 0 1px rgba(0,1,68,1) ;
}
/* Create the animation blocks */
